* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #ffb64c;
  }
  .container {
    width: 95vw;
    font-size: 16px;
    max-width: 53em;
    background-color: #ffffff;
    padding: 1.8em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0.9em;
  }
  .wrapper {
    min-height: 18.75em;
    min-width: 18.75em;
    z-index: 1;
    position: relative;
    border-radius: 0.9em 0.9em 0 0;
  }
  .controls {
    padding: 1.8em 0.6em 0 0.6em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1.2em;
    align-items: center;
    border-left: 2px dashed #000000;
  }
  .controls button {
    font-size: 1em;
    height: 3em;
    border-radius: 1.5em;
    border: none;
    background-color: #ffb64c;
    font-family: "Poppins", sans-serif;
  }
  .parrot {
    background-color: #f03800;
    height: 9.3em;
    width: 5em;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -3.75em;
    bottom: 0;
    border-radius: 2.8em 0.9em;
  }
  .tail1 {
    position: absolute;
    height: 3.75em;
    width: 1.75em;
    background-color: #cd0000;
    border-radius: 0 0 1.25em 0.3em;
    bottom: -2.8em;
    z-index: -1;
  }
  .tail2 {
    position: absolute;
    height: 3.75em;
    width: 1.75em;
    background-color: #cd0000;
    border-radius: 0 0 3em 0;
    bottom: -1.8em;
    left: 1.5em;
    z-index: -1;
  }
  .wing {
    background-color: #f03800;
    height: 6.8em;
    width: 3.75em;
    border-radius: 3.1em 0.6em;
    position: absolute;
    left: -0.9em;
    top: 3.1em;
    overflow: hidden;
    z-index: 1;
  }
  .wing-color1 {
    position: absolute;
    content: "";
    background-color: #0095ff;
    height: 60%;
    width: 100%;
    bottom: 0;
  }
  .wing-color2 {
    height: 0;
    width: 0;
    border-top: 1.87em solid #ffb64c;
    border-left: 1.87em solid transparent;
    border-right: 1.87em solid transparent;
    position: absolute;
    top: 2.7em;
    margin: auto;
    left: 0;
    right: 0;
  }
  .wing-color2-inner {
    position: absolute;
    border-top: 1.56em solid #f03800;
    border-left: 1.5em solid transparent;
    border-right: 1.5em solid transparent;
    right: -1.5em;
    bottom: 1.2em;
  }
  .eye-patch {
    height: 3.75em;
    width: 70%;
    background-color: #deecf1;
    border-radius: 3.1em 1.25em 1.25em 3.1em;
    position: absolute;
    right: -1px;
    top: 0;
    z-index: 2;
  }
  .eye {
    position: absolute;
    height: 0.9em;
    width: 0.9em;
    background-color: #714c2f;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1.56em;
  }
  .beak-upper {
    position: absolute;
    height: 3.75em;
    width: 3.75em;
    background-color: #ffb64c;
    z-index: -1;
    right: -3em;
    border-radius: 0 3.4em 0.3em 0;
  }
  .beak-lower {
    position: absolute;
    background-color: #ff9100;
    height: 1.56em;
    width: 1.56em;
    left: 0.7em;
    bottom: -1.56em;
    border-radius: 0 0 1.56em 0;
  }
  .feather {
    background-color: #cd0000;
    height: 3.1em;
    width: 6.25em;
    border-radius: 0.6em 0 0 6.25em;
    position: absolute;
    z-index: -1;
    left: -1.87em;
  }
  .leg {
    background-color: #ff9100;
    height: 2.1em;
    width: 4.37em;
    border-radius: 0 4.37em 0.6em 0.6em;
    position: absolute;
    z-index: -2;
    bottom: 0;
    left: 1.2em;
  }
  .branch {
    background-color: #ffb64c;
    height: 0.5em;
    width: 13.12em;
    position: absolute;
    right: -3.4em;
    bottom: -0.5em;
    border-radius: 0.5em;
  }
  @media screen and (max-width: 750px) {
    .container {
      grid-template-columns: 1fr;
    }
    .controls {
      border: none;
      border-top: 2px dashed #000000;
    }
    .controls button {
      font-size: 0.9em;
      height: 3em;
    }
  }