* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #7f5eff;
    background-size: 3.12em;
  }
  #h1{
    text-align: center;
    margin:20px;
    z-index:9;
  }
  .container {
    width: 80%;
    max-width: 37.5em;
    padding: 3em 1.5em;
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 0.6em;
    box-shadow: 0 1.4em 3em rgba(20, 16, 39, 0.3);
    margin-bottom:50px;
    margin-left: 350px;
  }
  .container img {
    display: block;
    height: 25em;
    max-width: 80%;
    margin: 0 auto 1em auto;
  }
  .container h3 {
    display: block;
    font-size: 1em;
    margin: 0.5em auto 2em auto;
    width: 70%;
    font-weight: 400;
    text-align: center;
    text-transform: capitalize;
    color: #737081;
    letter-spacing: 0.03em;
  }
  .container button {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.8em 2em;
    border-radius: 2em;
    background-color: #7f5eff;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
  }
  @media screen and (max-width: 600px) {
    .container {
      font-size: 14px;
    }
  }